# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
env/
ENV/
env.bak/
venv.bak/
*.log

# PyCharm files
.idea/
*.iml

# Jupyter Notebook
.ipynb_checkpoints/

# .env file
.env
